<%= render "categories/top_nav" %>
<div class="container">
  <%= link_to image_tag("back-arrow.png"), category_path(@category), class: "back-arrow" %>  
	<div class="new-task-form">
    <h1>Add new Task</h1>
    <%= render "form", task: @task %>
  </div>
</div>