<footer id="footer">
    <div class="container text-center">
      <p><a href="" class="github">Github</a> | <a href="" class="linkedin">Linkedin</a></p>
      <p><small>Copyright &copy; Grail Willy</small></p>
    </div>
  </footer>