<nav class="navbar justify-content-between">
  <%= link_to "Daily Dose", root_path, class: "navbar-brand" %> 
  <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-secondary mr-sm-2" %>
</nav>