<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="home-tagline">
        <h1>Design your life.</h1>
        <p>Focus on the things that matters</p>
      </div>
    </div>
    <div class="col-sm">
      <div>
      <%= image_tag "working-space.jpg" %>
      </div>
    </div>
  </div>
</div>