.tasks-today {
    display: flex;
    justify-content: space-between;
}

.card {
    margin-bottom: 20px;
}

.view-task {
    display: flex !important;
    justify-content: center;
    align-items: center;
}