.add-task {
    text-decoration: none;
    color: #000;
    border: 1px solid #6c757d;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
  }
 
  .add-task:hover {
    color: #fff;
    background-color: #6c757d;
  }
  
  .category-header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .category-name {
    font-size: 50px;
  }
  
  .table-row {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .tasks-header {
    text-align: center;
  }
  
  .task-name, .task-description, .task-deadline {
    padding-top: 10px;
  }