<%= render "top_nav" %>
<div class="categories">
  <h1 class="title">THE PROGRAMMER'S LIST</h1>
  <ul class="category-list">
    <% @categories.each do |category| %>
      <%= link_to category_path(category.id) do %>
        <li class="category-show"><%= category.name %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="add-category">
    <%= link_to "Add Category", new_category_path, class: "add-category-btn btn btn-outline-secondary" %>
  </div>
</div>

